1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 0,9,1,33
PRODUCTVERSION 0,9,1,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "000004E4"
  {
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "\000"
   VALUE "FileVersion", "0.9.1.33\000"
   VALUE "ProductVersion", "0.9.1.0\000"
   VALUE "InternalName", "BBtray.dpr\000"
   VALUE "OriginalFilename", "BBtray\000"
   VALUE "LegalTrademarks", "All rights reserved\000"
   VALUE "Author", "Deluan Cotts (bbtray@deluan.com)\000"
   VALUE "BuildType", "ReleaseBuild\000"
   VALUE "BuildTimestamp", "05/12/2001 12:11:11\000"
   VALUE "InternalVersion", "0.3\000"
   VALUE "VCS", "FreeVCS 2.2.1.0 http://www.freevcs.de\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0000,1252
 }
}
